<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#WARNING</key>
	<string>This file is heavily modified for use with @velickovicdj's OpenCore Config Checker. Do NOT try loading it.</string>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<intelprdintelcddintelsbdintelibdintelhwdinteladlintelsblinteliblintelhwlintelbwlintelnhintelibe>
				<dict>
					<key>Path</key>
					<string>SSDT-EC.aml</string>
				</dict>
			</intelprdintelcddintelsbdintelibdintelhwdinteladlintelsblinteliblintelhwlintelbwlintelnhintelibe>
			<intelsbdintelibdintelsblintelibl>
				<dict>
					<key>Path</key>
					<string>SSDT-PM.aml</string>
				</dict>
				<dict>
					<key>Path</key>
					<string>SSDT-IMEI.aml</string>
				</dict>
			</intelsbdintelibdintelsblintelibl>
			<intelhwdintelsldintelkldintelcfldintelcldintelhwlintelbwlintelsllintelkllintelcfllintelcllintelillintelhweintelbweintelslx>
				<dict>
					<key>Path</key>
					<string>SSDT-PLUG.aml</string>
				</dict>
			</intelhwdintelsldintelkldintelcfldintelcldintelhwlintelbwlintelsllintelkllintelcfllintelcllintelillintelhweintelbweintelslx>
			<intelsldintelkldintelcfldintelcldintelsllintelkllintelcfllintelcllintelillintelhweintelbweintelslxamdfxamdzen>
				<dict>
					<key>Path</key>
					<string>SSDT-EC-USBX.aml</string>
				</dict>	
			</intelsldintelkldintelcfldintelcldintelsllintelkllintelcfllintelcllintelillintelhweintelbweintelslxamdfxamdzen>
			<intelcfldintelcldintelcfllintelcllintelill>
				<dict>
					<key>Path</key>
					<string>SSDT-AWAC.aml</string>
				</dict>
			</intelcfldintelcldintelcfllintelcllintelill>
			<intelcfldintelcll>
				<dict>
					<key>Path</key>
					<string>SSDT-PMC.aml</string>
				</dict>
			</intelcfldintelcll>
			<intelcldintelill>
				<dict>
					<key>Path</key>
					<string>SSDT-RHUB.aml</string>
				</dict>
			</intelcldintelill>
			<inteladlintelsblinteliblintelhwlintelbwlintelsllintelkll>
				<dict>
					<key>Path</key>
					<string>SSDT-PNLF.aml</string>
				</dict>
			</inteladlintelsblinteliblintelhwlintelbwlintelsllintelkll>
			<inteladlintelsblintelibl>
				<dict>
					<key>Path</key>
					<string>SSDT-XOSI.aml</string>
				</dict>
			</inteladlintelsblintelibl>
			<intelhwlintelbwlintelsllintelkllintelcfllintelcllintelill>
				<dict>
					<key>Path</key>
					<string>SSDT-GPIO.aml (or SSDT-XOSI if having trouble getting VoodooI2C to work)</string>
				</dict>
			</intelhwlintelbwlintelsllintelkllintelcfllintelcllintelill>
			<intelcfllintelcllintelill>
				<dict>
					<key>Path</key>
					<string>SSDT-PNLF-CFL.aml</string>
				</dict>
			</intelcfllintelcllintelill>
			<intelibeintelhweintelbwe>
				<dict>
					<key>Path</key>
					<string>SSDT-UNC.aml</string>
				</dict>
			</intelibeintelhweintelbwe>
			<intelhweintelbweintelslx>
				<dict>
					<key>Path</key>
					<string>SSDT-RTC0-RANGE.aml</string>
				</dict>
			</intelhweintelbweintelslx>
			<amdzen>
				<dict>
					<key>Path</key>
					<string>SSDT-CPUR.aml</string>
				</dict>	
			</amdzen>
		</array>
		<key>Delete</key>
		<array>
			<intelsbdintelibdintelsblintelibl>
				<dict>
					<key>All</key>
					<true/>
					<key>Comment</key>
					<string>Delete CpuPm</string>
					<key>Enabled</key>
					<true/>
					<key>OemTableId</key>
					<string>437075506d000000</string>
					<key>TableLength</key>
					<integer>0</integer>
					<key>TableSignature</key>
					<string>53534454</string>
				</dict>
				<dict>
					<key>All</key>
					<true/>
					<key>Comment</key>
					<string>Delete Cpu0Ist</string>
					<key>Enabled</key>
					<true/>
					<key>OemTableId</key>
					<string>4370753049737400</string>
					<key>TableLength</key>
					<integer>0</integer>
					<key>TableSignature</key>
					<string>53534454</string>
				</dict>
			</intelsbdintelibdintelsblintelibl>
		</array>
		<key>Patch</key>
		<array>
			<inteladlintelsblintelibl>
				<dict>
					<key>Comment</key>
					<string>Change _OSI to XOSI</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Enabled</key>
					<true/>
					<key>Find</key>
					<string>5f4f5349</string>
					<key>Limit</key>
					<integer>0</integer>
					<key>Mask</key>
					<string/>
					<key>OemTableId</key>
					<string/>
					<key>Replace</key>
					<string>584f5349</string>
					<key>ReplaceMask</key>
					<string/>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>TableSignature</key>
					<string/>
				</dict>
			</inteladlintelsblintelibl>
		</array>
		<key>Quirks</key>
		<dict>
			<key>FadtEnableReset</key>
			<false/>
			<key>NormalizeHeaders</key>
			<false/>
			<key>RebaseRegions</key>
			<false/>
			<key>ResetHwSig</key>
			<false/>
			<key>ResetLogoStatus</key>
			<true/>
		</dict>
	</dict>
	<key>Booter</key>
	<dict>
		<key>MmioWhitelist</key>
		<array/>
		<key>Patch</key>
		<array/>
		<key>Quirks</key>
		<dict>
			<key>AllowRelocationBlock</key>
			<false/>
			<key>AvoidRuntimeDefrag</key>
			<true/>
			<intelprdintelcddinteladlintelnh>
				<false/>
			</intelprdintelcddinteladlintelnh>
			<key>DevirtualiseMmio</key>
			<false/>
			<intelcfldintelcldintelcllintelillintelslx>
				<true/>
			</intelcfldintelcldintelcllintelillintelslx>
			<key>DisableSingleUser</key>
			<false/>
			<key>DisableVariableWrite</key>
			<false/>
			<key>DiscardHibernateMap</key>
			<false/>
			<key>EnableSafeModeSlide</key>
			<true/>
			<intelprdintelcdd>
				<false/>
			</intelprdintelcdd>
			<key>EnableWriteUnprotector</key>
			<true/>
			<intelprdintelcddintelcfldintelcldinteladlintelcfllintelcllintelillintelslxamdzen>
				<false/>
			</intelprdintelcddintelcfldintelcldinteladlintelcfllintelcllintelillintelslxamdzen>
			<key>ForceExitBootServices</key>
			<false/>
			<key>ProtectMemoryRegions</key>
			<false/>
			<key>ProtectSecureBoot</key>
			<false/>
			<key>ProtectUefiServices</key>
			<false/>
			<intelcldintelcllintelill>
				<true/>
			</intelcldintelcllintelill>
			<key>ProvideCustomSlide</key>
			<true/>
			<intelprdintelcdd>
				<false/>
			</intelprdintelcdd>
			<key>ProvideMaxSlide</key>
			<integer>0</integer>
			<key>RebuildAppleMemoryMap</key>
			<false/>
			<intelprdintelcddintelcfldintelcldinteladlintelcfllintelcllintelillintelnhintelslxamdzen>
				<true/>
			</intelprdintelcddintelcfldintelcldinteladlintelcfllintelcllintelillintelnhintelslxamdzen>
			<key>SetupVirtualMap</key>
			<true/>
			<intelprdintelcddintelcldintelill>
				<false/>
			</intelprdintelcddintelcldintelill>
			<key>SignalAppleOS</key>
			<false/>
			<key>SyncRuntimePermissions</key>
			<false/>
			<intelcfldintelcldintelcfllintelcllintelillintelslxamdzen>
				<true/>
			</intelcfldintelcldintelcfllintelcllintelillintelslxamdzen>
		</dict>
	</dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<intelsbdintelibdintelhwdintelsldintelkldintelcfldintelcldinteladlintelsblinteliblintelhwlintelbwlintelsllintelkllintelcfllintelcllintelill>
				<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
				<dict>
					<intelsbdintelsbl>
						<key>AAPL,snb-platform-id</key>
						<array>
							<string>10000300</string>
							<intelsbd>
								<string>00000500</string>
							</intelsbd>
							<intelsbl>
								<string>00000100</string>
							</intelsbl>
						</array>
					</intelsbdintelsbl>
					<intelibdintelhwdintelsldintelkldintelcfldintelcldinteliblintelhwlintelbwlintelsllintelkllintelcfllintelcllintelill>
						<key>AAPL,ig-platform-id</key>
						<array>
							<intelibd>
								<string>0A006601</string>
								<string>07006201</string>
							</intelibd>
							<intelhwd>
								<string>0300220D</string>
								<string>04001204</string>
								<string>07002216</string>
							</intelhwd>
							<intelsld>
								<string>00001219</string>
								<string>01001219</string>
							</intelsld>
							<intelkld>
								<string>00001259</string>
								<string>03001259</string>
							</intelkld>
							<intelcfld>
								<string>07009B3E</string>
								<string>00009B3E</string>
								<string>0300913E</string>
							</intelcfld>
							<intelcld>
								<string>07009B3E</string>
								<string>00009B3E</string>
								<string>0300C89B</string>
							</intelcld>
							<intelibl>
								<string>03006601</string>
								<string>04006601</string>
								<string>09006601</string>
								<string>0B006601</string>
							</intelibl>
							<intelhwl>
								<string>0500260A</string>
								<string>0600260A</string>
								<string>0300220D</string>
							</intelhwl>
							<intelsll>
								<string>00001619</string>
								<string>00001E19</string>
								<string>00001B19</string>
								<string>00001E19</string>
								<string>02001619</string>
								<string>02002619</string>
								<string>05003B19</string>
							</intelsll>
							<intelkll>
								<string>00001B59</string>
								<string>00001659</string>
								<string>0000C087</string>
								<string>00001E59</string>
								<string>00001B59</string>
								<string>02002659</string>
							</intelkll>
							<intelcfllintelcll>
								<string>0900A53E</string>
								<string>00009B3E</string>
								<string>07009B3E</string>
								<string>0000A53E</string>
							</intelcfllintelcll>
							<intelill>
								<string>0000528A</string>
							</intelill>
						</array>	
					</intelibdintelhwdintelsldintelkldintelcfldintelcldinteliblintelhwlintelbwlintelsllintelkllintelcfllintelcllintelill>
					<intelsbd>
						<key>device-id</key>
						<array>
							<string>26010000</string>
							<string>02010000</string>
						</array>
					</intelsbd>
					<inteladl>
						<key>framebuffer-patch-enable</key>
						<string>01000000</string>
						<key>framebuffer-singlelink</key>
						<string>01000000</string>
					</inteladl>
					<intelhwl>
						<key>framebuffer-patch-enable</key>
						<string>01000000</string>
						<key>framebuffer-cursormem</key>
						<string>00009000</string>
					</intelhwl>
				</dict>
			</intelsbdintelibdintelhwdintelsldintelkldintelcfldintelcldinteladlintelsblinteliblintelhwlintelbwlintelsllintelkllintelcfllintelcllintelill>
		</dict>
		<key>Delete</key>
		<dict/>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>BundlePath</key>
				<string>Lilu.kext</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VirtualSMC.kext</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>WhateverGreen.kext</string>
			</dict>
		</array>
		<key>Block</key>
		<array/>
		<key>Emulate</key>
		<dict>
			<key>Cpuid1Data</key>
			<string/>
			<intelhwe>
				<string>C3060300000000000000000000000000</string>
			</intelhwe>
			<intelbwe>
				<string>D4060300000000000000000000000000</string>
			</intelbwe>
			<key>Cpuid1Mask</key>
			<string/>
			<intelhweintelbwe>
				<string>FFFFFFFF000000000000000000000000</string>
			</intelhweintelbwe>
			<key>DummyPowerManagement</key>
			<false/>
			<amdfxamdzen>
				<true/>
			</amdfxamdzen>
			<key>MaxKernel</key>
			<string/>
			<key>MinKernel</key>
			<string/>
		</dict>
		<key>Force</key>
		<array/>
		<key>Patch</key>
		<array/>
		<key>Quirks</key>
		<dict>
			<key>AppleCpuPmCfgLock</key>
			<false/>
			<intelcddintelsbdintelibdinteladlintelsblinteliblintelnhintelibe>
				<true/>
			</intelcddintelsbdintelibdinteladlintelsblinteliblintelnhintelibe>
			<key>AppleXcpmCfgLock</key>
			<false/>
			<intelhwdintelsldintelkldintelcfldintelcldintelhwlintelbwlintelsllintelkllintelcfllintelcllintelillintelhweintelbweintelslx>
				<true/>
			</intelhwdintelsldintelkldintelcfldintelcldintelhwlintelbwlintelsllintelkllintelcfllintelcllintelillintelhweintelbweintelslx>
			<key>AppleXcpmExtraMsrs</key>
			<false/>
			<intelnhintelibeintelhweintelbwe>
				<true/>
			</intelnhintelibeintelhweintelbwe>
			<key>AppleXcpmForceBoost</key>
			<false/>
			<key>ExternalDiskIcons</key>
			<false/>
			<key>ForceSecureBootScheme</key>
			<false/>
			<key>IncreasePciBarSize</key>
			<false/>
			<key>ThirdPartyDrives</key>
			<false/>
			<key>CustomSMBIOSGuid</key>
			<false/>
			<key>DisableIoMapper</key>
			<true/>
			<amdfxamdzen>
				<false/>
			</amdfxamdzen>
			<key>DisableLinkeditJettison</key>
			<true/>
			<key>DisableRtcChecksum</key>
			<false/>
			<key>ExtendBTFeatureFlags</key>
			<false/>
			<key>LapicKernelPanic</key>
			<false/>
			<key>LegacyCommpage</key>
			<false/>
			<key>PanicNoKextDump</key>
			<true/>
			<key>PowerTimeoutKernelPanic</key>
			<true/>
			<key>SetApfsTrimTimeout</key>
			<integer>-1</integer>
			<key>XhciPortLimit</key>
			<true/>
			<intelprdintelsbd>
				<false/>
			</intelprdintelsbd>
		</dict>
		<key>Scheme</key>
		<dict>
			<key>FuzzyMatch</key>
			<true/>
			<key>KernelArch</key>
			<array>
				<string>Auto</string>
				<string>i386</string>
				<string>i386-user32</string>
				<string>x86_64</string>
			</array>
			<key>KernelCache</key>
			<array>
				<string>Auto</string>
				<string>Cacheless</string>
				<string>Mkext</string>
				<string>Prelinked</string>
			</array>
		</dict>
	</dict>
	<key>Misc</key>
	<dict>
		<key>BlessOverride</key>
		<array/>
		<key>Boot</key>
		<dict>
			<key>ConsoleAttributes</key>
			<integer>0</integer>
			<key>HibernateMode</key>
			<array>
				<string>None</string>
				<string>Auto</string>
				<string>RTC</string>
				<string>NVRAM</string>
			</array>
			<key>HideAuxiliary</key>
			<false/>
			<key>LauncherOption</key>
			<array>
				<string>Disabled</string>
				<string>Full</string>
				<string>Short</string>
				<string>System</string>
			</array>
			<key>LauncherPath</key>
			<string>Default</string>
			<key>PickerAttributes</key>
			<integer>17</integer>
			<key>PickerAudioAssist</key>
			<false/>
			<key>PickerMode</key>
			<array>
				<string>Builtin</string>
				<string>External</string>
				<string>Apple</string>
			</array>
			<key>PickerVariant</key>
			<string>Auto</string>
			<key>PollAppleHotKeys</key>
			<false/>
			<key>ShowPicker</key>
			<true/>
			<key>TakeoffDelay</key>
			<integer>0</integer>
			<key>Timeout</key>
			<integer>5</integer>
		</dict>
		<key>Debug</key>
		<dict>
			<key>DisplayDelay</key>
			<integer>0</integer>
			<key>AppleDebug</key>
			<true/>
			<key>ApplePanic</key>
			<true/>
			<key>DisableWatchDog</key>
			<true/>
			<key>DisplayLevel</key>
			<integer>2147483650</integer>
			<key>SerialInit</key>
			<false/>
			<key>SysReport</key>
			<false/>
			<key>Target</key>
			<integer>0</integer>
		</dict>
		<key>Entries</key>
		<array/>
		<key>Security</key>
		<dict>
			<key>EnablePassword</key>
			<false/>
			<key>HaltLevel</key>
			<integer>2147483648</integer>
			<key>PasswordHash</key>
			<string/>
			<key>PasswordSalt</key>
			<string/>
			<key>AllowNvramReset</key>
			<true/>
			<key>AllowSetDefault</key>
			<true/>
			<key>ApECID</key>
			<integer>0</integer>
			<key>AuthRestart</key>
			<false/>
			<key>BlacklistAppleUpdate</key>
			<true/>
			<key>DmgLoading</key>
			<array>
				<string>Signed</string>
				<string>Disabled</string>
				<string>Any</string>
			</array>
			<key>ExposeSensitiveData</key>
			<integer>6</integer>
			<key>ScanPolicy</key>
			<integer>0</integer>
			<key>SecureBootModel</key>
			<array>
				<string>Default</string>
				<string>Disabled</string>
				<string>j137</string>
				<string>j680</string>
				<string>j132</string>
				<string>j174</string>
				<string>j140k</string>
				<string>j780</string>
				<string>j213</string>
				<string>j140a</string>
				<string>j152f</string>
				<string>j160</string>
				<string>j230k</string>
				<string>j214k</string>
				<string>j223</string>
				<string>j215</string>
				<string>j185</string>
				<string>j185f</string>
				<string>x86legacy</string>
			</array>
			<key>Vault</key>
			<array>
				<string>Optional</string>
				<string>Basic</string>
				<string>Secure</string>
			</array>
		</dict>
		<key>Tools</key>
		<array>
			<dict>
				<string>OpenShell.efi</string>
			</dict>
		</array>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<dict>
				<key>DefaultBackgroundColor</key>
				<string>00000000</string>
				<key>UIScale</key>
				<string>01</string>
			</dict>
			<key>4D1FDA02-38C7-4A6A-9CC6-4BCCA8B30102</key>
			<dict>
				<key>rtc-blacklist</key>
				<string/>
			</dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>SystemAudioVolume</key>
				<string>46</string>
				<key>boot-args</key>
				<string>-v keepsyms=1</string>
				<key>csr-active-config</key>
				<string>00000000</string>
				<key>prev-lang:kbd</key>
				<string>en-US:0</string>
				<key>run-efi-updater</key>
				<string>No</string>	
			</dict>
		</dict>
		<key>Delete</key>
		<dict/>
		<key>LegacyEnable</key>
		<false/>
		<intelhweintelbwe>
			<true/>
		</intelhweintelbwe>
		<key>LegacyOverwrite</key>
		<false/>
		<intelhweintelbwe>
			<true/>
		</intelhweintelbwe>	
		<key>LegacySchema</key>
		<dict/>
		<key>WriteFlash</key>
		<true/>
		<intelhweintelbwe>
			<false/>
		</intelhweintelbwe>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Automatic</key>
		<true/>
		<key>CustomMemory</key>
		<false/>
		<key>Generic</key>
		<dict>
			<key>MLB</key>
			<string>00000000000000000</string>
			<key>ROM</key>
			<string>000000000000</string>
			<key>SystemProductName</key>
			<array>
				<intelprd>			
					<string>iMac4,1</string>
					<string>iMac7,1</string>
					<string>iMac10,1</string>
					<string>MacPro6,1</string>
				</intelprd>
				<intelcdd>			
					<string>iMac11,1</string>
					<string>iMac11,2</string>
					<string>MacPro6,1</string>
				</intelcdd>
				<intelsbd>
					<string>iMac12,2</string>
					<string>MacPro6,1</string>
				</intelsbd>
				<intelibd>
					<string>iMac13,1</string>
					<string>iMac13,2</string>
				</intelibd>
				<intelhwd>
					<string>iMac14,4</string>
					<string>iMac15,1</string>
					<string>iMac16,2</string>
				</intelhwd>
				<intelsld>
					<string>iMac17,1</string>
				</intelsld>
				<intelkld>
					<string>iMac18,1</string>
					<string>iMac18,3</string>
				</intelkld>
				<intelcfld>
					<string>iMac19,1</string>
					<string>iMac18,3</string>
				</intelcfld>
				<intelcld>
					<string>iMac20,1</string>
					<string>iMac20,2</string>
				</intelcld>
				<inteladl>
					<string>MacBookPro6,1</string>
					<string>MacBookPro6,2</string>
				</inteladl>
				<intelsbl>
					<string>MacBookAir4,1</string>
					<string>MacBookAir4,2</string>
					<string>MacBookPro8,1</string>
					<string>MacBookPro8,2</string>
					<string>MacBookPro8,3</string>
					<string>Macmini5,1</string>
					<string>Macmini5,3</string>
				</intelsbl>
				<intelibl>
					<string>MacBookAir5,1</string>
					<string>MacBookAir5,2</string>
					<string>MacBookPro10,1</string>
					<string>MacBookPro10,2</string>
					<string>Macmini6,1</string>
					<string>Macmini6,2</string>
				</intelibl>
				<intelhwl>
					<string>MacBookAir6,1</string>
					<string>MacBookAir6,2</string>
					<string>MacBookPro11,1</string>
					<string>MacBookPro11,2</string>
					<string>MacBookPro11,3</string>
					<string>MacBookPro11,4</string>
					<string>MacBookPro11,5</string>
					<string>Macmini7,1</string>
				</intelhwl>
				<intelbwl>
					<string>MacBook8,1</string>
					<string>MacBookAir7,1</string>
					<string>MacBookAir7,2</string>
					<string>MacBookPro12,1</string>
					<string>MacBookPro11,2</string>
					<string>MacBookPro11,3</string>
					<string>MacBookPro11,4</string>
					<string>MacBookPro11,5</string>
					<string>iMac16,1</string>
				</intelbwl>
				<intelsll>
					<string>MacBook9,1</string>
					<string>MacBookPro13,1</string>
					<string>MacBookPro13,2</string>
					<string>MacBookPro13,3</string>
					<string>iMac17,1</string>
				</intelsll>
				<intelkll>
					<string>MacBookPro14,1</string>
					<string>MacBookPro14,2</string>
					<string>MacBookPro14,3</string>
					<string>iMac18,1</string>
				</intelkll>
				<intelcfll>
					<string>MacBookPro15,1</string>
					<string>MacBookPro15,2</string>
					<string>MacBookPro15,3</string>
					<string>MacBookPro15,4</string>
					<string>Macmini8,1</string>
				</intelcfll>
				<intelcll>
					<string>MacBookPro16,1</string>
					<string>MacBookPro16,3</string>
					<string>MacBookPro16,4</string>
					<string>Macmini8,1</string>
				</intelcll>
				<intelill>
					<string>MacBookAir9,1</string>
					<string>MacBookPro16,2</string>
				</intelill>
				<intelnh>
					<string>MacPro5,1</string>
					<string>MacPro6,1</string>
				</intelnh>
				<intelibe>
					<string>MacPro6,1</string>
				</intelibe>
				<intelhweintelbweintelslx>
					<string>iMacPro1,1</string>
				</intelhweintelbweintelslx>
				<amdfxamdzen>
					<string>MacPro6,1</string>
					<string>MacPro7,1</string>
					<string>iMac14,2</string>
					<string>iMacPro1,1</string>
				</amdfxamdzen>
			</array>	
			<key>SystemSerialNumber</key>
			<string>000000000000</string>
			<key>SystemUUID</key>
			<string>00000000-0000-0000-0000-000000000000</string>
			<key>AdviseWindows</key>
			<false/>
			<key>MaxBIOSVersion</key>
			<false/>
			<key>ProcessorType</key>
			<integer>0</integer>
			<key>SpoofVendor</key>
			<true/>
			<key>SystemMemoryStatus</key>
			<array>
				<string>Auto</string>
				<string>Upgradable</string>
				<string>Soldered</string>
			</array>
		</dict>
		<key>UseRawUuidEncoding</key>
		<false/>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateNVRAM</key>
		<true/>
		<key>UpdateSMBIOS</key>
		<true/>
		<key>UpdateSMBIOSMode</key>
		<array>
			<string>Create</string>
			<string>TryOverwrite</string>
			<string>Overwrite</string>
			<string>Custom</string>
		</array>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>APFS</key>
		<dict>
			<key>EnableJumpstart</key>
			<true/>
			<key>GlobalConnect</key>
			<false/>
			<key>HideVerbose</key>
			<true/>
			<key>JumpstartHotPlug</key>
			<false/>
			<key>MinDate</key>
			<integer>0</integer>
			<key>MinVersion</key>
			<integer>0</integer>
		</dict>
		<key>Audio</key>
		<dict>
			<key>AudioCodec</key>
			<integer>0</integer>
			<key>AudioDevice</key>
			<string>PciRoot(0x0)/Pci(0x1b,0x0)</string>
			<key>AudioOut</key>
			<integer>0</integer>
			<key>AudioSupport</key>
			<false/>
			<key>MinimumVolume</key>
			<integer>20</integer>
			<key>PlayChime</key>
			<array>
				<string>Auto</string>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
			<key>ResetTrafficClass</key>
			<false/>
			<key>SetupDelay</key>
			<integer>0</integer>
			<key>VolumeAmplifier</key>
			<integer>0</integer>
		</dict>
		<key>ConnectDrivers</key>
		<true/>
		<key>Drivers</key>
		<array>
			<string>HfsPlus.efi</string>
			<string>OpenRuntime.efi</string>
		</array>
		<key>Input</key>
		<dict>
			<key>KeyFiltering</key>
			<false/>
			<key>KeyForgetThreshold</key>
			<integer>5</integer>
			<key>KeySupport</key>
			<true/>
			<intelprdintelcddintelsbdinteladlintelsbl>
				<false/>
			</intelprdintelcddintelsbdinteladlintelsbl>
			<key>KeySupportMode</key>
			<array>
				<string>Auto</string>
				<string>V1</string>
				<string>V2</string>
				<string>AMI</string>
			</array>
			<key>KeySwap</key>
			<false/>
			<key>PointerSupport</key>
			<false/>
			<key>PointerSupportMode</key>
			<array>
				<string/>
				<string>ASUS</string>
			</array>
			<key>TimerResolution</key>
			<integer>50000</integer>
		</dict>
		<key>Output</key>
		<dict>
			<key>ClearScreenOnModeSwitch</key>
			<false/>
			<key>ConsoleMode</key>
			<string/>
			<key>DirectGopRendering</key>
			<false/>
			<key>ForceResolution</key>
			<false/>
			<key>GopPassThrough</key>
			<false/>
			<key>IgnoreTextInGraphics</key>
			<false/>
			<key>ProvideConsoleGop</key>
			<true/>
			<key>ReconnectOnResChange</key>
			<false/>
			<key>ReplaceTabWithSpace</key>
			<false/>
			<key>Resolution</key>
			<string>Max</string>
			<key>SanitiseClearScreen</key>
			<false/>
			<key>TextRenderer</key>
			<array>
				<string>BuiltinGraphics</string>
				<string>BuiltinText</string>
				<string>SystemGraphics</string>
				<string>SystemText</string>
				<string>SystemGeneric</string>
			</array>
			<key>UgaPassThrough</key>
			<false/>
		</dict>
		<key>ProtocolOverrides</key>
		<dict>
			<key>AppleAudio</key>
			<false/>
			<key>AppleBootPolicy</key>
			<false/>
			<key>AppleDebugLog</key>
			<false/>
			<key>AppleEvent</key>
			<false/>
			<key>AppleFramebufferInfo</key>
			<false/>
			<key>AppleImageConversion</key>
			<false/>
			<key>AppleImg4Verification</key>
			<false/>
			<key>AppleKeyMap</key>
			<false/>
			<key>AppleRtcRam</key>
			<false/>
			<key>AppleSecureBoot</key>
			<false/>
			<key>AppleSmcIo</key>
			<false/>
			<key>AppleUserInterfaceTheme</key>
			<false/>
			<key>DataHub</key>
			<false/>
			<key>DeviceProperties</key>
			<false/>
			<key>FirmwareVolume</key>
			<true/>
			<key>HashServices</key>
			<false/>
			<key>OSInfo</key>
			<false/>
			<key>UnicodeCollation</key>
			<false/>
		</dict>
		<key>Quirks</key>
		<dict>
			<key>ActivateHpetSupport</key>
			<false/>
			<key>DisableSecurityPolicy</key>
			<false/>
			<key>ExitBootServicesDelay</key>
			<integer>0</integer>
			<key>IgnoreInvalidFlexRatio</key>
			<true/>
			<intelprdintelsldintelkldintelcfldintelcldintelsllintelkllintelcfllintelcllintelillintelslxamdfxamdzen>
				<false/>
			</intelprdintelsldintelkldintelcfldintelcldintelsllintelkllintelcfllintelcllintelillintelslxamdfxamdzen>
			<key>ReleaseUsbOwnership</key>
			<false/>
			<inteladlintelsblinteliblintelhwlintelbwlintelsllintelkllintelcfllintelcllintelill>
				<true/>
			</inteladlintelsblinteliblintelhwlintelbwlintelsllintelkllintelcfllintelcllintelill>
			<key>RequestBootVarRouting</key>
			<true/>
			<key>TscSyncTimeout</key>
			<integer>0</integer>
			<key>UnblockFsConnect</key>
			<false/>
		</dict>
		<key>ReservedMemory</key>
		<array/>
	</dict>
</dict>
</plist>