nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.6rem;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--body-bg);

    a {
        text-decoration: none;
        color: inherit;
    }
    
    .logo {
        display: flex;
        align-items: center;
        position: relative;
        margin-left: 25px;
        height: 100%;
        
        h1 {
            cursor: pointer;
            line-height: 3.6rem;
            font-size: 21px;
            font-weight: 500;
            color: var(--title-color);
        }

        img {
            max-height: 60%;
            margin-right: 5px;
            vertical-align: middle;
        }
    }
    
    ul {
        float: right;
        margin-right: 5px;
        height: 100%;
        list-style-type: none;

        li {
            cursor: pointer;
            display: inline-block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-right: 25px;
            line-height: 1.8rem;
            font-size: 15px;
            border-bottom: 2px solid transparent;
            color: var(--title-color);

            a {
                display: flex;
                align-items: center;
                height: 100%;
                column-gap: 2.5px;
            }

            &:first-child:hover {
                border-bottom: 2px solid var(--primary-color);
            }
        }
    }
    .burger-menu {
        cursor: pointer;
        display: none;
        padding-right: 25px;
      
        .bar {
            margin: 4px 0;
            height: 2px;
            width: 40px;
            background-color: var(--title-color);
            transition: transform 250ms ease;
        }
    }
}

@media (max-width: 768px) {
    nav {
        ul {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 3.6rem;
            right: 0;
            width: 100%;
            background-color: var(--body-bg);
      
            li {
                display: block;
                padding: 15px;
                border-bottom: 1px solid var(--border-color);
        
                &:last-child {
                    border-bottom: none;
                }
            }

            &.open {
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                margin: 0;
                width: 100%;
                height: max-content;
                border-bottom: 1px solid var(--border-color);
                background-color: var(--body-bg);

                li {
                    border-bottom: none;

                    &:first-child {
                        margin-top: 50px;
                        
                        &:hover {
                            border-bottom: none;
                        }
                    }
                }
            }
        }

        .burger-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 10px;

            &.open .bar{
                margin: 0;

                &:first-child {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:last-child {
                    margin-top: -2px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}